.section{
  width: 75%;
  margin: auto;
  margin-top: 5rem;
  padding-top: 5rem;
}
.details_container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.details_container img{
  width: 100%;
  margin-top: 1rem;
}
.paragraph_hidden{
  display: none;
}
.active{
  display: block;
}
.detail_text_img{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail_text_img div{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.detail_text_img div p{
  margin-top: 0;
}
.detail_text_img div p:first-of-type{
  display: flex;
  justify-content: space-between;
}
.icon_in_details{
  font-size: 1.5rem;
}
.turn_around{
  transform: rotate(180deg);
}
@media only screen and (max-width : 1000px) {
  .section{
    padding-top: 0;
    width: 100%;
  }
  .detail_text_img{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .detail_text_img div{
    width: 90%;
  }
  .details_container img{
    width: 90%;
    margin-bottom: .3rem;
  }
}
