.section{
  width: 75%;
  margin: auto;
  margin-top: 5rem;
  padding-top: 5rem;
}
.section_about{
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_about h1{
  margin-bottom: 3rem;
  font-size: 2rem;
}
.section_about img{
  width: 70%;
}
.section_about p{
  text-align: justify;
  font-size: 1.2rem;
  line-height: 2;
}

@media only screen and (max-width : 649px) {
  .section_about{
    width: 90%;
    justify-content: flex-start;
  }
  .section{
    width: 100%;
    padding-top: 0;
  }
  .section_about h1{
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  .section_about img{
    width: 100%;
  }
  .section_about p{
    font-size: 1rem;
    line-height: normal;
  }
}
