.aside_in_nav{
  position: relative;
  float: left;
  width: 15%;
  min-height: 500px;
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
}
.navbar h1{
  font-size: 2rem;
  line-height: 2;
  width: 2rem;
  margin-left: .5rem;
}
.navbar_links ul{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.navbar_links ul li{
  list-style: none;
  margin: .5rem 0;
  margin-left: .5rem;
  font-size: 1.3rem;
  letter-spacing: 2.5px;
}
.navbar a{
  text-decoration: none;
  color: inherit;
}
.menu_icon{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
}

@media only screen and (max-width : 649px) {
  .aside_in_nav{
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .navbar{
    width: 100%;
    height: 5rem;
    background-color: rgba(255, 255, 255, .8);
  }
  .navbar h1{
    width: 100%;
    line-height: normal;
    font-size: 1.3rem;
  }
  .menu_icon{
    display: block;
    color: var(--mainGray);
  }
  .menu_icon:hover{
    transition: opacity 3s, transform 3s;
		transform: rotate(180deg) scale(.5);
		opacity: 0;
  }
  .navbar div:nth-of-type(2){
    height: 100%;
  }
  .navbar_links{
    height: inherit;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 1;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    transition: 1.5s ease-in-out;
  }
  .navbar_links.active{
    width: 70%;
  }
  .navbar ul{
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
}
