.section_gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section{
  width: 75%;
  margin: auto;
  margin-top: 5rem;
  padding-top: 5rem;
}
.gallery_container{
  width: 90%;
  height: 15rem;
  margin: 2rem 0;
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
}
.gallery_container:first-of-type{
  background-image: url('https://raw.githubusercontent.com/OlgaSpirkina/Julia/main/src/assets/flower.jpg');
}
.gallery_container:nth-of-type(2){
  background-image: url('https://raw.githubusercontent.com/OlgaSpirkina/Julia/main/src/assets/landscape.jpg');
}
.gallery_container:nth-of-type(3){
  background-image: url('https://raw.githubusercontent.com/OlgaSpirkina/Julia/main/src/assets/stilllife.jpg');
}
.for_paintings{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (max-width : 649px) {
  .section{
    padding-top: 0;
    width: 100%;
  }
}
