.section_paintings{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.paint_container{
  width: 40%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-top: 1px solid var(--mainGray);
}
.figcaption{
  position: absolute;
  top: 0;
  background-color: #fff;
  padding: .5rem;
  border-left: 1px solid var(--mainGray);
}
.section{
  width: 75%;
  margin: auto;
  margin-top: 5rem;
  padding-top: 5rem;
}
@media only screen and (max-width : 649px) {
  .section_paintings{
    width: 90%;
    justify-content: flex-start;
  }
  .section{
    padding-top: 0;
  }
  .paint_container{
    width: 90%;
  }
}
