.section_paintings{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.paint_container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  border: 1px solid var(--mainGray);
}
.figcaption{
  position: absolute;
  top: 0;
  background-color: #fff;
  padding: .1rem;
}
.paint_container img{
  /* border-top-left-radius: .5rem;
  border-top-right-radius: .5rem; */
}
.vertical{
  width: 10rem;
}
.horizontal{
  width: 20rem;
}
.section{
  width: 75%;
  margin: auto;
  margin-top: 5rem;
  padding-top: 5rem;
}
@media only screen and (max-width : 649px) {
  .section_paintings{
    width: 90%;
    justify-content: flex-start;
  }
  .section{
    padding-top: 0;
  }
  .vertical{
    width: 7rem;
  }
  .horizontal{
    width: 15rem;
  }
}
