@font-face {
  font-family: 'Chivo', sans-serif;
  src: local('Noto Sans'), url(./fonts/Chivo-Regular.ttf) format('truetype');
}
:root{
  --primaryOrange: rgb(249, 86, 2);
  --mainGray: rgb(112, 128, 144);
  --grayBrown: rgb(64, 58, 58);
  --mainfont: 'Chivo', sans-serif;
}
*{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--mainfont);
}
