@font-face {
  font-family: 'Chivo', sans-serif;
  src: local('Noto Sans'), url(./fonts/Chivo-Regular.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chivo', sans-serif;
}
